body, h1, h2, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    background-color: pink;
    color: #fff;
    text-align: center;
    padding: 20px 64px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header img {
    max-width: 100px;
}

.logo {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    padding: 10px;
}

nav {
    background-color:black;
    padding: 10px 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    background-color: #8e7a7a;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

form {
    width: 95%;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th {
    background-color: #cebebe;
}

td {
    color: white;
}
th, td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #b5a3a3;
}

tr:nth-child(odd) {
    background-color: #928282;
}

footer {
    background-color: black;
    color: #fff;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul{
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 10px;
    }
    
    footer {
        text-align: center;
    }
}